{% extends 'nav.html' %}
{% block nav %}
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" />

<section class="slide1">
    <!-- Carousel Section -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ slides.image_slide1.url }}" class="d-block w-100" alt="Slide 1" style="height: 450px;">
                <div class="carousel-caption d-none d-md-block">
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ slides.image_slide2.url }}" class="d-block w-100" alt="Slide 2" style="height: 450px;">
                <div class="carousel-caption d-none d-md-block">
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ slides.image_slide3.url }}" class="d-block w-100" alt="Slide 3" style="height: 450px;">
                <div class="carousel-caption d-none d-md-block">
                    
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="season-essentials bg5 p-t-55 p-b-55">
    <h4 class="text-center" style="font-weight: 500;">{{ category|title }}'s Essentials</h4>
    <div class="container">
        <div class="row">
            {% for i in data %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-t-15 p-b-15 p-2">
                <div class="card h-100">
                    <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.title }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">Rs: {{ i.price }}</p>
                        <a href="{% url 'det' i.id %}" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="season-essentials bg5 p-t-55 p-b-55">
    <h4 class="text-center" style="font-weight: 500;">{{ category|title }}'s Essentials</h4>
    <div class="container">
        <div class="row">
           <!-- products.html -->
            {% for i in data %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-t-15 p-b-15 p-2">
                <div class="card h-100">
                    <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.title }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">Rs: {{ i.price }}</p>
                        <a href="{% url 'det' i.id %}" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark shadow">
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2024. All rights reserved.
        </div>
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</section>

{% endblock nav %}
